<div class="row productbox py-3 mt-3" >
    <div class="col-12">
        <div class="content-header mt-0 py-2">
          <h2>Stats</h2>
        </div>
    </div>       
  <div class="col-12">
   <form [formGroup]="filter">
       <div class="row mx-0">
           <div class="col-3">
            <label class="pb-1">Subject</label>
            <input type="text" class="form-control" formControlName="subject">
           </div>
           <div class="col-3">
            <label class="pb-1">Type</label>
            <ng-select [items]="subjective" bindLabel="name" bindValue="value" formControlName="type"
            placeholder="Select semester" ></ng-select>
           </div>
           <div class="col-4">
           <div class="d-flex">
            <div class="pr-2">
                    <label class="pb-1" >From</label>
                    <input class="form-control" matInput [matDatepicker]="picker" (click)="picker.open()" formControlName="from"
                    placeholder="From">
                <mat-datepicker #picker></mat-datepicker>
                </div>
            <div class="pl-2">
                <label  class="pb-1" >To</label>
                <input class="form-control" matInput [matDatepicker]="picker1"
                [min]="this.filter.controls.from.value=='' ? todayDate: this.filter.controls.from.value"
                (click)="picker1.open()" formControlName="to" placeholder="To">
                <mat-datepicker #picker1></mat-datepicker>
            </div>
            </div>
           </div>
           <div class="col-2">
            <button type="button" style="position: absolute;bottom: 0px;" class="btn btn-outline-primary " [disabled]="this.filter.invalid" (click)="submit()">Show</button>
           </div>
       </div>
   </form>
    
  </div>
 <div class="col-12 mt-3" *ngIf="staticbool">
    <div id="chart">
        <apx-chart
          [series]="chartOptions.series"
          [chart]="chartOptions.chart"
          [dataLabels]="chartOptions.dataLabels"
          [plotOptions]="chartOptions.plotOptions"
          [yaxis]="chartOptions.yaxis"
          [legend]="chartOptions.legend"
          [fill]="chartOptions.fill"
          [stroke]="chartOptions.stroke"
          [tooltip]="chartOptions.tooltip"
          [xaxis]="chartOptions.xaxis"
        ></apx-chart>
      </div>
 </div>

 <div class="col-12 mt-4" *ngIf="staticbool">
    <div id="chart">
        <apx-chart
    [series]="chartOptions1.series"
    [chart]="chartOptions1.chart"
    [xaxis]="chartOptions1.xaxis"
    [dataLabels]="chartOptions1.dataLabels"
    [grid]="chartOptions1.grid"
    [stroke]="chartOptions1.stroke"
    [title]="chartOptions1.title"
  ></apx-chart>
      </div>
 </div>

</div>

