
<div class="row productbox py-3 mt-3" >
    <div class="col-6">
        <div class="content-header mt-0">
          <h2>Branch</h2>
        </div>
      </div>
  <div class="col-6 px-2">
    <div class="text-right">
            <button type="button" class="btn btn-outline-primary " (click)="newBranch()">New Branch</button>
    </div>
    
  </div>
  <div class="col-12">
    <div class="mat-elevation-z8 mt-2" >
        <table mat-table [dataSource]="dataSource" class="w-100" matSort>
          <!-- Position Column -->
          <ng-container matColumnDef="s_no">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> S. No.</th>
            <td mat-cell *matCellDef="let element;let i=index;"> 
               {{i+1}}
               </td>
          </ng-container>
          
          <!-- Name Column -->
          <ng-container matColumnDef="branch_name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Branch Name</th>
            <td mat-cell *matCellDef="let element"> {{element.branch}} </td>
          </ng-container>
      
          <!-- Weight Column -->
          <ng-container matColumnDef="details">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Details</th>
            <td mat-cell *matCellDef="let element"> 
              <button class="btn btn-primary" (click)="view(element)">View</button>
            </td>
          </ng-container>
          
          <!-- Symbol Column -->
          <ng-container matColumnDef="Action">
            <th mat-header-cell *matHeaderCellDef>Action</th>
            <td mat-cell *matCellDef="let element">
              <span>
                <i class="fa fa-pencil-square-o text-danger font-large-1 cp" aria-hidden="true" (click)="edit(element)"></i></span>
                <span class="ml-2" (click)="delete(element.branchId)"><i class="fa fa-trash-o text-danger font-large-1 cp" ></i></span>
            </td>
          </ng-container>
       
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      
     <!---   <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator> -->
      </div>
    
  </div>
  </div>

<!--
  {"message":"success","response":[{"branch":"CSE","subjects":["CS-701","CS-703","CS-604","CS-603","CS-602","CS-502","CS-402","CS-405"]}]}
-->

